body,
button,
input,
select,
textarea,
th {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: poppin, Tahoma, Arial, \5fae\8f6f\96c5\9ed1, sans-serif;
  font-family: Tahoma, Arial, \5fae\8f6f\96c5\9ed1, sans-serif/9;
}
